In [48]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import KBinsDiscretizer

# 1.1

In [268]:
tab = []
obj = []
s = input().split()
stop = 9
for s0 in s:
    obj.append(s0)
    if (len(obj) >= 9) and (len(obj) == 11 or 'or' not in obj):
        tab.append(obj)
        obj = []

for t in tab:
    if len(t) == 11:
        t[2] = t[2] + ' ' + t[3] + ' ' + t[4]
        t.pop(4)
        t.pop(3)
tab

 1 SK F 206 1.9 1.4 1.8 2.7 F 2 SRK F or R 520 2.1 0.8 3.8 2.3 F 3 SK F 160 1.7 1.9 1.6 3.7 F 4 SK F 213 1.7 2.0 2.4 3.4 F 5 SMS F or R 598 1.6 2.4 7 2.8 F 6 SK F 109 2.0 1.9 2.4 3.7 F 7 SRK F or R 325 2.0 2.1 3.2 2.8 F 8 SMS F or R 498 1.5 3.3 3.5 2.0 T 9 SRK F or R 396 2.8 2.1 3.1 2.5 T 10 SRK F or R 325 2.2 2.2 4.6 3.2 T 11 SRK F or R 389 2.0 2.2 3.3 4.3 T 12 SRK F 298 2.5 2.3 3.3 2.8 T 13 SK F 149 1.9 2.5 4.0 3.8 T 14 SMS F or R 684 1.7 3.3 4.4 2.2 T 15 SK F 99 2.8 2.2 2.5 4.0 T 16 SK F 140 2.6 2.3 3.3 3.4 T 17 SK F 215 2.3 3.8 4.8 2.3 T

[['1', 'SK', 'F', '206', '1.9', '1.4', '1.8', '2.7', 'F'],
 ['2', 'SRK', 'F or R', '520', '2.1', '0.8', '3.8', '2.3', 'F'],
 ['3', 'SK', 'F', '160', '1.7', '1.9', '1.6', '3.7', 'F'],
 ['4', 'SK', 'F', '213', '1.7', '2.0', '2.4', '3.4', 'F'],
 ['5', 'SMS', 'F or R', '598', '1.6', '2.4', '7', '2.8', 'F'],
 ['6', 'SK', 'F', '109', '2.0', '1.9', '2.4', '3.7', 'F'],
 ['7', 'SRK', 'F or R', '325', '2.0', '2.1', '3.2', '2.8', 'F'],
 ['8', 'SMS', 'F or R', '498', '1.5', '3.3', '3.5', '2.0', 'T'],
 ['9', 'SRK', 'F or R', '396', '2.8', '2.1', '3.1', '2.5', 'T'],
 ['10', 'SRK', 'F or R', '325', '2.2', '2.2', '4.6', '3.2', 'T'],
 ['11', 'SRK', 'F or R', '389', '2.0', '2.2', '3.3', '4.3', 'T'],
 ['12', 'SRK', 'F', '298', '2.5', '2.3', '3.3', '2.8', 'T'],
 ['13', 'SK', 'F', '149', '1.9', '2.5', '4.0', '3.8', 'T'],
 ['14', 'SMS', 'F or R', '684', '1.7', '3.3', '4.4', '2.2', 'T'],
 ['15', 'SK', 'F', '99', '2.8', '2.2', '2.5', '4.0', 'T'],
 ['16', 'SK', 'F', '140', '2.6', '2.3', '3.3', '3.4', 'T'],
 ['17', 'SK', 'F', '215', '2.3', '3.8', '4.8', '2.3', 'T']]

In [420]:
cols = ['No', 'System','mount', 'price','con', 'snow', 'ice', 'dur','Accegrade']
df = pd.DataFrame(tab, columns=cols)
df.No = df.No.astype(int)
df = df.set_index('No')
df.price = df.price.astype(int)
df.con = df.con.astype(float)
df.snow = df.snow.astype(float)
df.ice = df.ice.astype(float)
df.dur = df.dur.astype(float) 
cat_f = df.columns[:2]
num_f = df.columns[3:-1]
y = 'Accegrade'
df_train = df.loc[:14].drop(y, axis=1)
df_test = df.loc[15:].drop(y, axis=1)

y_train = df.loc[:14,y]
y_test = df.loc[15:,y]
df_test

   System mount  price  con  snow  ice  dur
No
15     SK     F     99  2.8   2.2  2.5  4.0
16     SK     F    140  2.6   2.3  3.3  3.4
17     SK     F    215  2.3   3.8  4.8  2.3

In [449]:
df_test

   System mount  price  con  snow  ice  dur
No
15     SK     F     99  2.8   2.2  2.5  4.0
16     SK     F    140  2.6   2.3  3.3  3.4
17     SK     F    215  2.3   3.8  4.8  2.3

In [448]:
df_train

   System   mount  price  con  snow  ice  dur
No
1      SK       F    149  1.9   2.5  4.0  3.8
2     SRK  F or R    520  2.1   0.8  3.8  2.3
3     SRK  F or R    389  2.0   2.2  3.3  4.3
4      SK       F    213  1.7   2.0  2.4  3.4
5     SMS  F or R    598  1.6   2.4  7.0  2.8
6      SK       F    109  2.0   1.9  2.4  3.7
7     SRK  F or R    325  2.0   2.1  3.2  2.8
8     SMS  F or R    498  1.5   3.3  3.5  2.0
9     SRK  F or R    396  2.8   2.1  3.1  2.5
10     SK       F    160  1.7   1.9  1.6  3.7
11    SRK  F or R    389  2.0   2.2  3.3  4.3
12    SRK       F    298  2.5   2.3  3.3  2.8
13     SK       F    206  1.9   1.4  1.8  2.7
14    SMS  F or R    684  1.7   3.3  4.4  2.2

In [421]:
def LazyFCA(t0, df_train, y_train, cat_feats, num_feats, proof=False, alpha=0.75):
    """
    t0: one object of test dataset
    df_train: train dataset
    y_train: target values of the train dataset
    cat_feats: names of categorical features
    num_feats: names of numerical features
    proof: boolean value of writing the number of object which caused succesfull classification
    alpha: a fraction of object which is enough for classifying
    """
    for _, t_x in df_train.iterrows():
        sim_cfeats = cat_feats[t_x.loc[cat_feats] == t0.loc[cat_feats]]
        num_df0 = pd.DataFrame([t_x, t0])[num_feats]
        min_vals = num_df0.min()
        max_vals = num_df0.max()
        if len(sim_cfeats) > 1:
            cat_sim_mask = (df_train[sim_cfeats] == t0[sim_cfeats]).all(axis=1)
        elif len(sim_cfeats) == 1:
            cat_sim_mask = df_train[sim_cfeats[0]] == t0[sim_cfeats[0]]
        else:
            cat_sim_mask = pd.Series([True] * df_train.shape[0], index=df_train.index)
        extsim = (cat_sim_mask & \
                       (df_train[num_feats] >= min_vals).all(axis=1) & \
                        (df_train[num_feats] <= max_vals).all(axis=1))
        y_extsim = y_train.loc[extsim].value_counts()
        y_extsim /= y_extsim.sum()
        res = y_extsim[y_extsim > 0.75]
        if len(res) > 0:
            if proof:
                print('proof', _)
            return res.index[0]
    return None

res = df_test.apply(lambda x: LazyFCA(x, df_train, y_train, cat_f, num_f, True), axis=1)
print(f'accuracy: {(res == y_test).sum() / res.shape[0]}')

proof 1
proof 1
proof 1
accuracy: 0.0

# 1.2

In [282]:
tab2 = []
obj = []
s = input().split()
stop = 9
for s0 in s:
    obj.append(s0)
    if (len(obj) >= 9) and (len(obj) == 11 or 'or' not in obj):
        tab2.append(obj)
        obj = []

for t in tab2:
    if len(t) == 11:
        t[2] = t[2] + ' ' + t[3] + ' ' + t[4]
        t.pop(4)
        t.pop(3)
tab2

 1 SK F 149 1.9 2.5 4.0 3.8 T 2 SRK F or R 520 2.1 0.8 3.8 2.3 F 3 SRK F or R 389 2.0 2.2 3.3 4.3 T 4 SK F 213 1.7 2.0 2.4 3.4 F 5 SMS F or R 598 1.6 2.4 7 2.8 F 6 SK F 109 2.0 1.9 2.4 3.7 F 7 SRK F or R 325 2.0 2.1 3.2 2.8 F 8 SMS F or R 498 1.5 3.3 3.5 2.0 T 9 SRK F or R 396 2.8 2.1 3.1 2.5 T 10 SK F 160 1.7 1.9 1.6 3.7 F 11 SRK F or R 389 2.0 2.2 3.3 4.3 T 12 SRK F 298 2.5 2.3 3.3 2.8 T 13 SK F 206 1.9 1.4 1.8 2.7 F 14 SMS F or R 684 1.7 3.3 4.4 2.2 T 15 SK F 99 2.8 2.2 2.5 4.0 T 16 SK F 140 2.6 2.3 3.3 3.4 T 17 SK F 215 2.3 3.8 4.8 2.3 T

[['1', 'SK', 'F', '149', '1.9', '2.5', '4.0', '3.8', 'T'],
 ['2', 'SRK', 'F or R', '520', '2.1', '0.8', '3.8', '2.3', 'F'],
 ['3', 'SRK', 'F or R', '389', '2.0', '2.2', '3.3', '4.3', 'T'],
 ['4', 'SK', 'F', '213', '1.7', '2.0', '2.4', '3.4', 'F'],
 ['5', 'SMS', 'F or R', '598', '1.6', '2.4', '7', '2.8', 'F'],
 ['6', 'SK', 'F', '109', '2.0', '1.9', '2.4', '3.7', 'F'],
 ['7', 'SRK', 'F or R', '325', '2.0', '2.1', '3.2', '2.8', 'F'],
 ['8', 'SMS', 'F or R', '498', '1.5', '3.3', '3.5', '2.0', 'T'],
 ['9', 'SRK', 'F or R', '396', '2.8', '2.1', '3.1', '2.5', 'T'],
 ['10', 'SK', 'F', '160', '1.7', '1.9', '1.6', '3.7', 'F'],
 ['11', 'SRK', 'F or R', '389', '2.0', '2.2', '3.3', '4.3', 'T'],
 ['12', 'SRK', 'F', '298', '2.5', '2.3', '3.3', '2.8', 'T'],
 ['13', 'SK', 'F', '206', '1.9', '1.4', '1.8', '2.7', 'F'],
 ['14', 'SMS', 'F or R', '684', '1.7', '3.3', '4.4', '2.2', 'T'],
 ['15', 'SK', 'F', '99', '2.8', '2.2', '2.5', '4.0', 'T'],
 ['16', 'SK', 'F', '140', '2.6', '2.3', '3.3', '3.4', 'T'],
 ['17', 'SK', 'F', '215', '2.3', '3.8', '4.8', '2.3', 'T']]

In [450]:
cols = ['No', 'System','mount', 'price','con', 'snow', 'ice', 'dur','Accegrade']
df2 = pd.DataFrame(tab2, columns=cols)
df2.No = df2.No.astype(int)
df2 = df2.set_index('No')
df2.price = df2.price.astype(int)
df2.con = df2.con.astype(float)
df2.snow = df2.snow.astype(float)
df2.ice = df2.ice.astype(float)
df2.dur = df2.dur.astype(float) 

cat_f = df2.columns[:2]
num_f = df2.columns[3:-1]
y = 'Accegrade'
df_train = df2.loc[:14].drop(y, axis=1)
df_test = df2.loc[15:].drop(y, axis=1)
y_train = df2.loc[:14,y]
y_test = df.loc[15:,y]

In [451]:
df_train

   System   mount  price  con  snow  ice  dur
No
1      SK       F    149  1.9   2.5  4.0  3.8
2     SRK  F or R    520  2.1   0.8  3.8  2.3
3     SRK  F or R    389  2.0   2.2  3.3  4.3
4      SK       F    213  1.7   2.0  2.4  3.4
5     SMS  F or R    598  1.6   2.4  7.0  2.8
6      SK       F    109  2.0   1.9  2.4  3.7
7     SRK  F or R    325  2.0   2.1  3.2  2.8
8     SMS  F or R    498  1.5   3.3  3.5  2.0
9     SRK  F or R    396  2.8   2.1  3.1  2.5
10     SK       F    160  1.7   1.9  1.6  3.7
11    SRK  F or R    389  2.0   2.2  3.3  4.3
12    SRK       F    298  2.5   2.3  3.3  2.8
13     SK       F    206  1.9   1.4  1.8  2.7
14    SMS  F or R    684  1.7   3.3  4.4  2.2

In [423]:
res = df_test.apply(lambda x: LazyFCA(x, df_train, y_train, cat_f, num_f, True), axis=1)
print(f'accuracy: {(res == y_test).sum() / res.shape[0]}')

proof 1
proof 1
proof 1
accuracy: 1.0

# 1.3

In [429]:
accuracies = []
for k in range(5):
    df_test = df2.loc[3*k+1:3*k+3].drop(y, axis=1)
    df_train = df2.drop(df_test.index, axis=0).drop(y, axis=1)
    y_train = df2.loc[df_train.index,y]
    y_test = df2.loc[df_test.index,y]
    res = df_test.apply(lambda x: LazyFCA(x, df_train, y_train, cat_f, num_f, False), axis=1)
    accuracies.append((res == y_test).sum() / res.shape[0])    
accuracies

[0.6666666666666666,
 0.0,
 0.6666666666666666,
 0.6666666666666666,
 0.6666666666666666]

# 1.4

In [430]:
def LazyFCA_2(t0, df_train, y_train, cat_feats, num_feats, proof=False, alpha=0.75):
    for _, t_x in df_train.iterrows():
        sim_cfeats = cat_feats[t_x.loc[cat_feats] == t0.loc[cat_feats]]
        num_df0 = pd.DataFrame([t_x, t0])[num_feats]
        min_vals = num_df0.min()
        if len(sim_cfeats) > 1:
            cat_sim_mask = (df_train[sim_cfeats] == t0[sim_cfeats]).all(axis=1)
        elif len(sim_cfeats) == 1:
            cat_sim_mask = df_train[sim_cfeats[0]] == t0[sim_cfeats[0]]
        else:
            cat_sim_mask = pd.Series([True] * df_train.shape[0], index=df_train.index)
        extsim = (cat_sim_mask & \
                       (df_train[num_feats] >= min_vals).all(axis=1))
        y_extsim = y_train.loc[extsim].value_counts()
        y_extsim /= y_extsim.sum()
        res = y_extsim[y_extsim > 0.75]
        if len(res) > 0:
            if proof:
                print('proof', _)
            return res.index[0]
    return None

In [452]:
#extsim = (cat_sim_mask & (df_train[num_feats] >= min_vals).all(axis=1))
df_test = df2.loc[15:].drop(y, axis=1)
df_train = df2.drop(df_test.index, axis=0).drop(y, axis=1)
y_train = df2.loc[df_train.index,y]
y_test = df2.loc[df_test.index,y]
print(LazyFCA_2(df_test.iloc[0], df_train, y_train, cat_f, num_f, proof=True), y_train.iloc[0])

proof 1
T T

# 1.5

In [446]:
def LazyFCA_3(t0, df_train, y_train, cat_feats, num_feats, proof=False, alpha=0.75):
    for _, t_x in df_train.iterrows():
        sim_cfeats = cat_feats[t_x.loc[cat_feats] == t0.loc[cat_feats]]
        num_df0 = pd.DataFrame([t_x, t0])[num_feats]
        max_vals = num_df0.max()
        if len(sim_cfeats) > 1:
            cat_sim_mask = (df_train[sim_cfeats] == t0[sim_cfeats]).all(axis=1)
        elif len(sim_cfeats) == 1:
            cat_sim_mask = df_train[sim_cfeats[0]] == t0[sim_cfeats[0]]
        else:
            cat_sim_mask = pd.Series([True] * df_train.shape[0], index=df_train.index)
        extsim = (cat_sim_mask & \
                       (df_train[num_feats] >= max_vals).all(axis=1))
        y_extsim = y_train.loc[extsim].value_counts()
        y_extsim /= y_extsim.sum()
        res = y_extsim[y_extsim > 0.75]
        if len(res) > 0:
            if proof:
                print('proof', _)
            return res.index[0]
    return None

In [447]:
#extsim = (cat_sim_mask & (df_train[num_feats] >= max_vals).all(axis=1))
df_test = df2.loc[15:].drop(y, axis=1)s
df_train = df2.drop(df_test.index, axis=0).drop(y, axis=1)
y_train = df2.loc[df_train.index,y]
y_test = df2.loc[df_test.index,y]
print(LazyFCA_3(df_test.iloc[0], df_train, y_train, cat_f, num_f, proof=True), y_train.iloc[0])

None T