In [115]:
import pandas as pd

In [123]:
dt = pd.read_csv('XRays.csv', delimiter=';')
dt

          stMRN        dtArrive         dtBegin     dtCompleted
0      12222732     4.4.16 8:00     4.4.16 8:04     4.4.16 8:11
1      13510077     4.4.16 8:21     4.4.16 8:26     4.4.16 8:39
2      11183882     4.4.16 8:33     4.4.16 8:44     4.4.16 8:44
3      12949996     4.4.16 8:38     4.4.16 8:41     4.4.16 8:47
4      11566221     4.4.16 8:26     4.4.16 8:33     4.4.16 8:53
...         ...             ...             ...             ...
21868   9672860  11.15.16 11:02  11.15.16 11:23  11.15.16 11:43
21869  12075344  11.15.16 13:50  11.15.16 14:01  11.15.16 14:04
21870  12490506  11.15.16 15:43  11.15.16 15:59  11.15.16 16:19
21871  12490506  11.15.16 15:43  11.15.16 15:59  11.15.16 16:19
21872  12943977  11.16.16 16:20  11.16.16 16:27  11.16.16 16:32

[21873 rows x 4 columns]

In [124]:
dt = dt.drop_duplicates(keep='first', subset='stMRN')
dt.shape[0]

13330

In [125]:
dt['dtArrive'] = pd.to_datetime(dt.dtArrive)
dt['dtBegin'] = pd.to_datetime(dt.dtBegin)
dt['dtCompleted'] = pd.to_datetime(dt.dtCompleted)
dt

C:\Users\Admin\AppData\Local\Temp\ipykernel_12004\3790088247.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dt['dtArrive'] = pd.to_datetime(dt.dtArrive)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12004\3790088247.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt['dtArrive'] = pd.to_datetime(dt.dtArrive)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12004\3790088247.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dt['dtBegin'] = pd.to_datetime(dt.dtBegin)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12004\3790088247.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt['dtBegin'] = pd.to_datetime(dt.dtBegin)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12004\3790088247.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dt['dtCompleted'] = pd.to_datetime(dt.dtCompleted)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12004\3790088247.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt['dtCompleted'] = pd.to_datetime(dt.dtCompleted)

          stMRN            dtArrive             dtBegin         dtCompleted
0      12222732 2016-04-04 08:00:00 2016-04-04 08:04:00 2016-04-04 08:11:00
1      13510077 2016-04-04 08:21:00 2016-04-04 08:26:00 2016-04-04 08:39:00
2      11183882 2016-04-04 08:33:00 2016-04-04 08:44:00 2016-04-04 08:44:00
3      12949996 2016-04-04 08:38:00 2016-04-04 08:41:00 2016-04-04 08:47:00
4      11566221 2016-04-04 08:26:00 2016-04-04 08:33:00 2016-04-04 08:53:00
...         ...                 ...                 ...                 ...
21860  13696864 2016-11-15 11:03:00 2016-11-15 11:08:00 2016-11-15 11:13:00
21864  13266746 2016-11-15 11:01:00 2016-11-15 11:10:00 2016-11-15 11:16:00
21867  13699907 2016-11-15 11:09:00 2016-11-15 11:16:00 2016-11-15 11:23:00
21868   9672860 2016-11-15 11:02:00 2016-11-15 11:23:00 2016-11-15 11:43:00
21872  12943977 2016-11-16 16:20:00 2016-11-16 16:27:00 2016-11-16 16:32:00

[13330 rows x 4 columns]

In [126]:
(dt['dtCompleted'] - dt['dtBegin']).describe()

count                        13330
mean     0 days 00:09:26.304576144
std      0 days 00:59:30.643450138
min              -1 days +23:31:00
25%                0 days 00:05:00
50%                0 days 00:08:00
75%                0 days 00:11:00
max                4 days 17:28:00
dtype: object

In [127]:
dt = dt[(dt['dtCompleted'] - dt['dtBegin'] < datetime.timedelta(hours=1))]

In [128]:
x = dt.dtBegin.unique()
x

<DatetimeArray>
['2016-04-04 08:04:00', '2016-04-04 08:26:00', '2016-04-04 08:44:00',
 '2016-04-04 08:41:00', '2016-04-04 08:33:00', '2016-04-04 09:21:00',
 '2016-04-04 09:18:00', '2016-04-04 09:34:00', '2016-04-04 09:43:00',
 '2016-04-04 10:02:00',
 ...
 '2016-11-15 10:45:00', '2016-11-15 10:55:00', '2016-11-15 11:00:00',
 '2016-11-15 11:01:00', '2016-11-15 10:57:00', '2016-11-15 11:08:00',
 '2016-11-15 11:10:00', '2016-11-15 11:16:00', '2016-11-15 11:23:00',
 '2016-11-16 16:27:00']
Length: 12263, dtype: datetime64[ns]

In [129]:
import datetime

In [130]:
y = [(x0, dt[(dt['dtBegin'] <= x0) & (dt['dtCompleted'] >= x0)].shape[0]) for x0 in x]

In [131]:
max(y, key=lambda k: k[1])

(Timestamp('2016-06-23 10:30:00'), 8)